@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    scrollbar-width: none; /* FireFox */
    -ms-overflow-style: none; /* IE/Edge */
}

*::-webkit-scrollbar{
    display: none; /* Safari/Chrome/Opera */
}

#home {
    padding-top: 5rem;
}
#about {
    padding-top: 5rem;
    background-color: #054db9;
}
#course {
    padding-top: 5rem;
}
#navbar {
    background-color: #212529;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #198754 !important;
}

.image-ilustrasi {
    animation: UpDown infinite 2s ease-in-out;
}

@keyframes UpDown {
    0% {
        transform: translateY(-5%);
    }
    50% {
        transform: translateY(5%);
    }
    0% {
        transform: translateY(0);
    }
}

.card {
    transition: all .3s ease-in-out;
}

.package .col-md-3:nth-child(1) .card:hover {
    box-shadow: 0 .125rem 1rem #198754;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}
.package .col-md-3:nth-child(2) .card:hover {
    box-shadow: 0 .125rem 1rem #ffc107;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}
.package .col-md-3:nth-child(3) .card:hover {
    box-shadow: 0 .125rem 1rem #dc3545;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

#btn-course {
    box-shadow: 0 0 20px #29e08b; /* Efek bayangan saat hover */
}

.circle-icon {
    display: inline-block;
    width: 50px; /* Sesuaikan ukuran lingkaran */
    height: 50px; /* Sesuaikan ukuran lingkaran */
    border-radius: 50%; /* Membuat lingkaran */
    background-color: #16af68; /* Warna latar lingkaran */
    text-align: center;
    line-height: 55px; /* Vertikal tengahkan ikon */
    box-shadow: 0 0 20px #29e08b; /* Efek bayangan saat hover */
    transition: box-shadow 0.3s ease-in-out; /* Transisi saat hover */
    margin-right: 30px;
}

ul li:nth-child(2) .circle-icon {
    line-height: 53px;
}

.circle-icon i {
    color: #000;
}

.circle-icon:hover {
    box-shadow: 0 0 10px #198754; /* Efek bayangan */
}

.circle-icon:hover i {
    color: #fff;
}

/* breakpoints */
@media (max-width: 578px) {
    .course .container .row .col-md-3 .card {
        width: 75%;
        margin: auto;
    }

    .logo-footer {
        width: 80%;
        padding: 2rem 0 0 2rem;
    }

    .logo-footer:nth-child(2) {
        width: 50%;
        margin-left: 2rem;
    }

    .navigation-footer {
        padding: 2rem 0 0 2rem;
    }

    .maps {
        width: 90%;
        padding: 2rem 0 0 2rem;
    }

    ul li:nth-child(2) .circle-icon i {
        font-size: 32px;
    }

    footer div h6 {
        font-size: 70%;
    }
}